.ticket {
  font-family: sans-serif;
  font-size: 15px;
  float: left;
  margin: 10px 5px 5px 0;
  border: solid 1px;
  display: inline-block;
  border-radius: 3px;
  & > * {
    padding: 0 10px;
    border-radius: 3px 0 0 3px;
    &:last-child {
      padding: 0 5px;
      border-radius: 0 3px 3px 0;
    }
    &:not(:first-child) {
      border-left: solid 1px;
    }
    &:hover {
      display: inline-block;
      cursor: pointer;
    }
  }
}
